.add {
  background-color: #fca311;
  margin-left: 1rem;
}

.heading {
  display: flex;
  align-items: center;
}

table {
  border: 1px solid gray;
  margin-top: 1rem;
}

table th {
  text-align: left;
}

.actionBtn {
  margin-right: 0.5rem;
}

#modelTable th {
  text-align: left;
}

ul li {
  text-align: center;
}
