<form [formGroup]="detailsForm">
  <div class="mb-3">
    <label for="orderId" class="form-label">Order Id</label>
    <input id="orderId" type="number" class="form-control" formControlName="orderId" readonly />
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
    </thead>

    <tbody formArrayName="details">
      @for (e of existingData(); track e.orderDetailId) {
        <tr>
          <!-- <td>{{ e.itemId }}</td> -->
          @for (item of allItems(); track item.itemId) {
            @if (e.itemId == item.itemId) {
              <td>{{ item.itemId }} - {{ item.itemName }}</td>
            }
          }
          <td>{{ e.price }}</td>
          <td>{{ e.quantity }}</td>
          <td>{{ e.total }}</td>
        </tr>
      }
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      @for (row of detailsArray.controls; track $index) {
        <tr [formGroupName]="$index">
          <td>
            <select class="form-select" formControlName="itemId">
              <option value="">Select Item</option>

              @for (item of allItems(); track item.itemId) {
                <option [value]="item.itemId">{{ item.itemId }} - {{ item.itemName }}</option>
              }
            </select>
          </td>

          <td>
            <input
              type="number"
              class="form-control"
              formControlName="price"
              (input)="calculateTotal($index)"
            />
          </td>

          <td>
            <input
              type="number"
              class="form-control"
              formControlName="quantity"
              (input)="calculateTotal($index)"
            />
          </td>

          <td>
            <input type="number" class="form-control" formControlName="total" readonly />
          </td>
        </tr>
      }
    </tbody>
  </table>

  <div class="mb-3">
    <button type="button" class="btn btn-primary" (click)="addRow()">Add Row</button>
  </div>

  <div class="submitBtn">
    <button type="button" class="btn btn-secondary me-3" (click)="goBack()">Back</button>
    <button type="button" class="btn btn-success" (click)="saveOrders()">Save Orders</button>
  </div>
</form>
